SerialPortSwitchClient/Service References/SerialSwitch/SerialSwitchServiceHost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SerialSwitchServiceHost" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/SerialSwitch?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/SerialSwitch?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/SerialSwitch?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8080/SerialSwitch?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BrewduinoCatalogLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ArduinoSelfHost_GetRawStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRawStatus" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_GetRawStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRawStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_SendCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCommand" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_SendCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCommandResponse" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_SendCommandWithResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:SendCommandWithResponse" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_SendCommandWithResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendCommandWithResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_UpdateStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="ArduinoSelfHost_UpdateStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="ArduinoSelfHost">
    <wsdl:operation name="GetRawStatus">
      <wsdl:input wsam:Action="http://tempuri.org/ArduinoSelfHost/GetRawStatus" message="tns:ArduinoSelfHost_GetRawStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ArduinoSelfHost/GetRawStatusResponse" message="tns:ArduinoSelfHost_GetRawStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <wsdl:input wsam:Action="http://tempuri.org/ArduinoSelfHost/GetStatus" message="tns:ArduinoSelfHost_GetStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ArduinoSelfHost/GetStatusResponse" message="tns:ArduinoSelfHost_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <wsdl:input wsam:Action="http://tempuri.org/ArduinoSelfHost/SendCommand" message="tns:ArduinoSelfHost_SendCommand_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ArduinoSelfHost/SendCommandResponse" message="tns:ArduinoSelfHost_SendCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendCommandWithResponse">
      <wsdl:input wsam:Action="http://tempuri.org/ArduinoSelfHost/SendCommandWithResponse" message="tns:ArduinoSelfHost_SendCommandWithResponse_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ArduinoSelfHost/SendCommandWithResponseResponse" message="tns:ArduinoSelfHost_SendCommandWithResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input wsam:Action="http://tempuri.org/ArduinoSelfHost/UpdateStatus" message="tns:ArduinoSelfHost_UpdateStatus_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ArduinoSelfHost/UpdateStatusResponse" message="tns:ArduinoSelfHost_UpdateStatus_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ArduinoSelfHost" type="tns:ArduinoSelfHost">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRawStatus">
      <soap:operation soapAction="http://tempuri.org/ArduinoSelfHost/GetRawStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/ArduinoSelfHost/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommand">
      <soap:operation soapAction="http://tempuri.org/ArduinoSelfHost/SendCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendCommandWithResponse">
      <soap:operation soapAction="http://tempuri.org/ArduinoSelfHost/SendCommandWithResponse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://tempuri.org/ArduinoSelfHost/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SerialSwitchServiceHost">
    <wsdl:port name="BasicHttpBinding_ArduinoSelfHost" binding="tns:BasicHttpBinding_ArduinoSelfHost">
      <soap:address location="http://localhost:8080/SerialSwitch" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>